@import '../../scss/_variables.scss';
@import '../../scss/_placeholders.scss';
@import '../../scss/_mixins.scss';
@import '../../scss/_keyframes.scss';

#changeOSTWhole{
    background: rgb(0,0,0);
    background: $contentBackground;
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Imbue', serif;
    min-width: 400px;
    //POSITION ABSOLUTE TAGS
    #tagList{
        position: absolute;
        left:30%;
        top:10%;
        width: 40%;
        height: 66%;
        background-color: #212121;
        z-index:2000;
        border-radius:15px;
        min-width: 250px;
        animation-name:showTags;
        animation-timing-function: ease;
        animation-duration: 0.51s;

        @media only screen and(max-width:768px){
            left:20%;
            width: 60%;
        }

        fa-icon{
            position: absolute;
            top:0;
            right:10px;
            color:#f9f9f9;
            &:hover{
                cursor: pointer;
                color:#f9f9f9;
            }
        }
            #searchTag{
                width: 100%;
                height: 15%;
    
                input{
                    width: 100%;
                    border-radius: 20px;
                    background-color: #1b1b1bd2;
                    -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                    -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                    box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                    border:none;
                    color:#f9f9f9;
                    padding: 10px;
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
            #tagsContainer{
                width: 100%;
                height: 50%;
                -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                overflow-y: hidden;

                ul{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    list-style-type: none;
                    overflow-y: scroll;
                    height: 100%;
                    padding-left:10px;
                    padding-right: 10px;
                    scrollbar-color: #030303;
                    li{
                        white-space: nowrap;
                        width: 100%;
                        height: 10%;
                        background-color: rgba(19, 19, 19, 0.877);
                        border-radius: 20px;
                        margin:8px;
                        margin-top:15px;
                        border:2px solid #1a1a1a15;
                        -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                        -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                        box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                        @extend %centerFlex;

                        &:hover{
                            cursor: pointer;
                            background-color: rgba(46, 45, 45, 0.877);
                        }
                    }
                }
            }

            #choosed{
                height: 15%;
                height: auto;
                ul{
                    list-style-type: none;
                    overflow-y: auto;
                    li{
                        float:left;
                        margin-left:5px;
                        width: 25%;
                        height: auto;
                        
                        background-color: red;
                        border-radius: 20px;
                        text-align: center;
                        white-space: nowrap;
                        @media only screen and (max-width: 768px){
                            width: 80%;
                        }
                    }
                }
            }
            #buttonPlace{
                width: 100%;
                height: 8%;
                @extend %centerFlex;
            }

    }        

    #sideBarContainer{
        height: 100vh;
        padding: 0;
        -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
        box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
    }
        
    .row{

        width: 100%;
        height: 100%;
        // mobile | smartph | tablet | smDisplay | lgDisp
        @include respectFont(3vw, 3vw, 2vw, 1.5vw, 1.1vw);
        #changeSongContainer{
            height: 100vh;
            @extend %centerFlex;
            -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            #addSong{
                
                // -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                // -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                // box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                position: relative;
                // background-color: $childContainerColor;
                border-radius: 25px;
                min-height: 90vh;
                @include WbodyBuilder(90%, 95vh);

                // @extend %MaxSize;

                // COVER IN FORM 
                #cover{
                    height:20%;
                    display: flex;
                    flex-direction: row;
                    
                    #addCover{
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                    }
                    #showCover{
                        width: 30%;
                        margin-left:10px;
                        @extend %centerFlex;
                        -webkit-box-shadow: inset -13px -12px 42px -26px rgba(85, 85, 85, 0.438), inset 8px 11px 42px -26px rgba(7, 7, 7, 1);
                        -moz-box-shadow: inset -13px -12px 42px -26px rgba(85, 85, 85, 0.527), inset 8px 11px 42px -26px rgba(7, 7, 7, 1);
                        box-shadow: inset -13px -12px 42px -26px rgba(85, 85, 85, 0.5), inset 8px 11px 42px -26px rgba(7, 7, 7, 1);
                        border-radius: 20px;
                        img{
                            @extend %MaxSize;
                            border:2px solid #3f3f3f13;
                            border-radius: 20px;
                        }
                        @media only screen and(max-width:768px){
                            height: 100%;
                            float:left;
                        }
                    }
                }
                
                    // TITLE IN FORM
                #title{
                    height: 10%;
                }
                #song{
                    height: 10%;
                    
                }
                #tags{
                    @include respectFont(3vw, 2vw, 2vw, 1vw, 1vw);
                    p{
                        &:hover{
                            cursor:pointer;
                            color:#777676;
                        }
                    }
                    height: 5%;
                    color:#0e9140;
                    width: 50%;
                }
                #desc{
                    height: 15%;

                    #descArea{
                        @extend %MaxSize;
                        resize: none;
                        padding: 5px;
                        height: 80%;
                    }
                }
                #price{
                    height: 10%;
                    width: 30%;
                }
   
            }

            #showOST{
                height: 100%;
                background-color: red;
            }
        
        }
    }
}

.invalidInput{
    border:3px solid rgba(255, 0, 0, 0.781);

}
.invalidFile{color:red; font-style: bold;}
label{
    @include respectFont(4vw, 3.5vw, 2vw, 1.4vw, 1.4vw);
    
}
small{
    font-size: 0.7vw;
    @include respectFont(3vw, 3vw, 1.3vw, 1.2vw, 0.7vw)

}   

