@import '../../scss/_variables.scss';
@import '../../scss/_placeholders.scss';
@import '../../scss/_mixins.scss';

#settingsWhole{
    background: rgb(0,0,0);
    background: $contentBackground;
    height: 100vh;
    position: relative;
    font-family: 'Imbue', serif;
    min-width: 400px;

    .row{
        @extend %MaxSize;
        //navigationBar
        #sideBarContainer{
            padding: 0;
            height: 100vh;
            -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
        }
        // RIGHT CONTENT 
        #settingsContainer{
            height: 100%;
            @extend %centerFlex;
            -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);

           #settings{
            position: relative;
            background-color: $childContainerColor;
            border-radius: 25px;
            @extend %childrenPageContainerSize;
            -webkit-box-shadow: inset -13px -12px 42px -26px rgba(85, 85, 85, 0.438), inset 8px 11px 42px -26px rgba(7, 7, 7, 1);
            -moz-box-shadow: inset -13px -12px 42px -26px rgba(85, 85, 85, 0.527), inset 8px 11px 42px -26px rgba(7, 7, 7, 1);
            box-shadow: inset -13px -12px 42px -26px rgba(85, 85, 85, 0.5), inset 8px 11px 42px -26px rgba(7, 7, 7, 1);
            //TOP OF SETTINGS
                #avatar{
                    height: 20%;
                    margin-top:10px;
                    @media only screen and(min-width:0px){
                        width: 100%;
                    }
                    @media only screen and(min-width:360px){
                        width: 20%;
                    }
                    #avatarCircle{
                        width: 7vw;
                        height: 7vw;
                        background-color: $childContainerColor;
                        border-radius: 50px;
                        border: 2px solid rgba(7, 7, 7, 0.274);
                        @extend %centerFlex;
                        font-size:2vw;
                    }
                    label{
                        position: relative;
                        cursor: pointer;
                        top:1px;
                        height: 1.5em;
                        width: 7vw;
                        margin-left:10%;
                        font-size: 1.2vw;
                    }
                }

                //FORM IN SETTINGS
                form{
                    color:#7ae67a;
                    font-size:1.5vw;
                    .form-group{
                        label{
                            margin-left:5%;
                            @include respectFont(3vw, 3vw, 2.5vw, 2vw, 1.8vw);
                        }
                        fa-icon{
                            color:white;
                            &:hover{
                                cursor: pointer;
                                position: relative;
                                top:2px;
                                color:#868686;
                            }

                        }
                        input{
                            background-color: $inputColor;
                            border-color:#454e478c;
                            color:#7ae67a;
                            text-align:center;
                            width: 90%;
                            margin-left:5%;
                            &:focus{
                                outline: none;
                                border-color: #9eedb8;
                                box-shadow: 0 0 10px #68a772;                            }
                        }

                    }

                }
           }
        }
    }

}                        
#resetEmail{
    margin-left:5%;
    width: 90%;
}
#submitButton{
    width: 25%;
    margin-left:5%;
}