<div class='container-fluid p-0 m-0' id="whole">
    <div id="musicPlayer" #musicPlayer>
      <p #title></p>
      <audio controls id="audioBox" #audioBox [hidden]="!isPlaying">
        <source type="audio/mpeg" id='audio' #audio/>
        <source type="audio/wav" id='audioWav' #audio/>
      </audio>
    </div>

    <div *ngIf='clickedOST' id="checkInfo">
      <div class="row m-0 p-1 w-100 h-100">
        <div class="col-4" id="OSTImage"><img [src]=OSTChecking.cover alt='clickedOSTcover'/></div>
        <div class="col-8 text-center" id="OSTInfo">
          <h2>{{OSTChecking.title}}</h2>
          <p>By: {{OSTChecking.author}}</p>
          <p id="date">{{OSTChecking.date|date}}</p>
        </div>
        <div class="col-12" id="OSTDesc">
          <div class="row w-100 h-100 m-0 p-0">
            <div class="col-12 text-center" id="desc">{{OSTChecking.desc}}</div>
            <div class="col-12" id="tags">
              <ul id="tagsUL">
                <li *ngFor="let x of OSTChecking.tags">{{tagList[x-1].name}}</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-12" id="OSTButtons">
          <div class="row w-100 h-100 m-0 p-0">
            <div class="col-6 mt-2" id="addToBasket"><button class="btn btn-primary" (click)="addToBasket()">Add to basket</button></div>
            <div class="col-6 mt-2" id="closeWindow"><button class="btn btn-danger w-50" (click)="exitOST()">exit</button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 " id="unloggedRow">
      <!-- NAVIGATION -->

    <div class="p-0 col-2 col-sm-2 col-md-3 col-lg-2 col-xl-2 px-lg-1" id="sideBarContainer">
      <app-navigation></app-navigation>
    </div>
      <!-- CONTENT WITH MUSIC -->
      <div class=" p-0 col-10 col-sm-10 col-md-9 col-lg-10 col-xl-10" id="contentContainer">
        
          <!-- CONTENT PAGE -->
          <div class="col-12 p-0" id="ContentPage">
            <!-- Search BOX -->
            <div class="col-12 p-0" id="topTab">
              <div class="row m-0 p-0">
                <div class="col-12 mb-2" id="filter">
                  <p>Search for tags</p>
                  <input type="text" name="searchInput" [(ngModel)]="searchTagsInputValue" (change)="filterTags($event)" id="searchBox" >
                </div>
                <div class="col-12 p-0" id="tagsBox">
                  <ul id="tagsBoxItems" class="p-0 m-0">
                    <li *ngFor="let x of tagList; index as i" (click)="clickTag(i)">{{x.name}} </li>
                  </ul>
                  <div id="pickedTags">
                    <ul>
                      <p  class="p-0 m-0">Picked Tags</p>
                      <li *ngFor="let x of pickedTags; index as i" (click)="clickChoosedTag(i)">{{pickedTags[i]}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- MUSIC Container -->
            <div class="col-12 p-3"  id="musicBox">
                <!-- OSTS BOXES LOOP -->
                <div class="row m-0 p-0">
                <div class="col-12 col-md-5 mb-2 m-2 m-lg-3 p-0 songContainer " *ngFor='let x of songs; index as i' >
                  <div class="row m-0 p-0">
                    <div class="col-12 top p-0">
                      <div class="row m-0">
                        <div class="col-4 p-0 musicIMG">
                          <div class="imgHover"><fa-icon [icon]='playHover'></fa-icon></div>
                          <img [src]='x.cover' alt='OSTImage' (click)="playAudio(x.ost, x.title)">
                        </div>
                        <div class="col-8 musicInfo p-0">
                          <div class="col-12 price d-flex justify-content-end align-content-center">{{x.price}} $</div>
                          <div class="col-12 title"><b>{{x.title}}</b></div>
                          <div class="col-12 desc"><i>{{x.desc}}</i></div>
                          <div class="col-12 info m-0 p-0">
                            <div class="row m-0">
                              <div class="col-10 author mt-1"><b>{{x.author}}</b></div>
                              <div class="col-2 buy p-0 mt-2" (click)="checkOST(x.id)"><fa-icon [icon]="cart"></fa-icon></div>
                            </div>
      
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-12 tags">
                      <ul class="tagList p-2 d-flex flex-row flex-nowrap">
                        <li  *ngFor = 'let x of x.tags; index as i' (click)="clickTag(x-1)">{{tagList[x-1].name}}</li>
                        
                      </ul>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
  
      </div>
    </div>
  
  </div>