@keyframes showTags {
    from{
        opacity: 0.6;
        left:-100%
    }to{
        left:30%;
        opacity: 1;
    }
}

@keyframes modalAnimation {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}