//options
$pageHeight:300vh;

// NAVBAR
$navbarColor: #1818185e;

// CONTENT
$contentBackground: linear-gradient(321deg, rgba(0,0,0,1) 0%, rgba(5,5,5,0.9135855025603992) 20%, rgba(11,11,11,0.95) 48%, rgba(5,5,5,0.860364214044993) 77%, rgba(0,0,0,0.8379552504595589) 100%);

//OST 
$OSTBackground:#1a181871;

// TAGS
$tagsColor:#1d201fee;
$tagsColorHover:#174117d3;

// login
$loginBackground: #1311117e;

// CHILDREN SITES
$childContainerColor:#212121d0;

$inputColor:#0c0c0cd2;

$textAreaColor:#0f0f0fe0;


// HOME SITE

$audioTextColor: #1b1b1b13;