

<div class="container-fluid m-0 p-0" id="whole">

  <div id="brand" routerLink=""><span style='color: #143E00'>OST</span>Place</div>
      <div id="loginForm" class="row p-4">
          <div class="col-12 text-center" id="text">Log in</div>
          <!-- FORM START -->
          <form #heroForm = "ngForm" (ngSubmit)="loginUser()">
              <div class="form-group">
                <label for="loginInput" >Login</label>
                <input type="text" minlength='3' maxlength='16' [(ngModel)]="userInfo.username" #name="ngModel" [ngClass]="{'invalidInput': username.invalid && username.touched}" name="username" #username="ngModel" required  class="form-control text-center" id="loginInput" aria-describedby="loginHelp" placeholder="Enter login">

                <small *ngIf="username.touched && username.invalid" style="color:rgba(255, 0, 0, 0.726)"><br> Provided login is invalid</small>
              </div>

              <div class="form-group">
                <label for="email">Password</label>
                <input type="password" minlength='6' maxlength='30' [ngClass]="{'invalidInput': password.invalid && password.touched}"class="form-control text-center" [(ngModel)]="userInfo.password" name="password" #password="ngModel" required id="InputPassword" placeholder="Enter password">
                <small *ngIf="password.touched && password.invalid"  style="color:rgba(255, 0, 0, 0.726)">Provided password is invalid</small>
              </div>
              <button type="submit" class="btn btn-primary mt-2" [disabled]="!heroForm.valid" (click)="loginUser">Submit</button>
              <span *ngIf="(username.invalid || password.invalid || errorLogin == true) && heroForm.submitted ">Login or password is incorrect</span>
              <span style="color:red" *ngIf="errorLogin">sad</span>
          </form>

      </div>
</div>
