<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Imbue:opsz@10..100&display=swap" rel="stylesheet">
</head>

<style>
    body {
    background-color: #f9f9f9;
       font-family: 'Imbue', serif;
    }

    a    {
    color: green;
    cursor:pointer;

    }

    a :hover{
        color:#9eedb8;
    }
</style>

<body>
    <h3><p> Hello <b>{{ username }},</b> click right below to Confirm that you want to change your account email address: </p></h3><br>
    <h3><p> <b></b> Or click "check" right below to change your account email on OSTPlace.</p></h3><br>
    <a href="http://{{ domain }}changeEmail/{{token}}/{{newEmail}}">Change account email</a>
</body>
</html>
